@font-face {
  font-family: "Berlingske Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Berlingske Sans.eot");
  /* IE9*/
  src: url("../fonts/Berlingske Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Berlingske Sans.woff2") format("woff2"), url("../fonts/Berlingske Sans.woff") format("woff"), url("../fonts/Berlingske Sans.ttf") format("truetype"); }

@font-face {
  font-family: "Berlingske Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Berlingske Sans Bold.eot");
  /* IE9*/
  src: url("../fonts/Berlingske Sans Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Berlingske Sans Bold.woff2") format("woff2"), url("../fonts/Berlingske Sans Bold.woff") format("woff"), url("../fonts/Berlingske Sans Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Freestyle Script";
  src: url("../fonts/Freestyle Script.eot");
  /* IE9*/
  src: url("../fonts/Freestyle Script.eot?#iefix") format("embedded-opentype"), url("../fonts/Freestyle Script.woff2") format("woff2"), url("../fonts/Freestyle Script.woff") format("woff"), url("../fonts/Freestyle Script.ttf") format("truetype"); }

@font-face {
  font-family: 'GentlemensScript';
  src: url("../fonts/GentlemensScript-Regular.eot");
  src: url("../fonts/GentlemensScript-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GentlemensScript-Regular.woff2") format("woff2"), url("../fonts/GentlemensScript-Regular.woff") format("woff"), url("../fonts/GentlemensScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Bold.eot");
  src: url("../fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Regular.eot");
  src: url("../fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Light.eot");
  src: url("../fonts/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff"), url("../fonts/SFProDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-UltralightItalic.eot");
  src: url("../fonts/SFProDisplay-UltralightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-UltralightItalic.woff") format("woff"), url("../fonts/SFProDisplay-UltralightItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }

/* Global variables */
/* ======================================================================== */
/* Breakpoints */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

body,
html {
  height: 100%;
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.wrapper {
  min-height: 100%; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  font-size: 100%;
  font-family: "Berlingske Sans", sans-serif;
  color: #000;
  line-height: 1.575em; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  a:focus {
    outline: 0; }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
  max-width: 100%; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
  outline: 0; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button, html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  letter-spacing: -0.02em;
  font-size: 12px; }
  @media only screen and (min-width: 768px) {
    body {
      font-size: calc(.00937 * 100vw + 0px); } }

.wrapper {
  font-size: 1.125em; }

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

p {
  margin-top: 5px;
  margin-bottom: 35px; }
  @media only screen and (min-width: 768px) {
    p {
      margin-top: 15px; } }

figure {
  margin: 0; }

.container {
  padding: 0 0.5em;
  margin-left: auto;
  margin-right: auto;
  max-width: 94%; }
  @media only screen and (min-width: 768px) {
    .container {
      max-width: 75em; } }

.section_theme_black {
  background-color: #000;
  color: #ffffff; }

.section_background_clouds {
  overflow: hidden;
  position: relative; }
  .section_background_clouds:before {
    content: '';
    position: absolute;
    bottom: -12.5em;
    left: -26em;
    z-index: 1;
    background-image: url("../img/clouds-left.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 58em;
    height: 88.2em; }
  .section_background_clouds:after {
    content: '';
    position: absolute;
    bottom: -9em;
    right: -38em;
    z-index: 1;
    background-image: url("../img/clouds-right.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 81.313em;
    height: 57.938em; }

.section_background_draft-chairs {
  position: relative; }
  .section_background_draft-chairs:before {
    content: '';
    position: absolute;
    top: 67em;
    left: -8em;
    z-index: 1;
    background-image: url("../img/room-draft-left.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 39em;
    height: 43.9em;
    opacity: -1.39; }
  .section_background_draft-chairs:after {
    content: '';
    position: absolute;
    bottom: 37em;
    right: -7.6em;
    z-index: 1;
    background-image: url("../img/room-draft-right.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 34.556em;
    height: 42.334em;
    opacity: 0.55; }

.section_on-top {
  position: relative;
  z-index: 1; }

.section__title {
  font-family: "SF Pro Display", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.5em; }
  @media only screen and (min-width: 768px) {
    .section__title {
      font-size: 4.1em;
      line-height: 1.3em; } }
  .section__title_style_center {
    text-align: center; }
  .section__title_style_margin {
    margin-left: 1.4em; }

.section__heading {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.4em;
  max-width: 15em;
  max-width: 15em;
  margin-top: 1.6em;
  letter-spacing: -0.03em;
  word-spacing: 0.09em; }
  @media only screen and (min-width: 768px) {
    .section__heading {
      font-size: 3.5em;
      margin-top: 0.5em;
      margin-left: 3.2em; } }
  .section__heading_align_center {
    text-align: center; }

.section__subtitle {
  font-family: "SF Pro Display";
  font-size: 2.938em;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: -0.06em; }

.section__figcaption {
  font-family: 'GentlemensScript', sans-serif;
  color: rgba(0, 0, 0, 0.46);
  font-size: 1.7em;
  line-height: 0.83em;
  position: absolute; }
  .section__figcaption_rotate_left-5 {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    bottom: 0.4em;
    left: 5.1em; }
  .section__figcaption_rotate_left-15 {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
    bottom: 0.7em;
    left: 4.6em; }
  .section__figcaption_margin-l {
    bottom: 0.9em;
    left: 8.4em; }
  .section__figcaption_rotate_left-17 {
    -webkit-transform: rotate(-17deg);
    -ms-transform: rotate(-17deg);
    transform: rotate(-17deg);
    bottom: 0.3em;
    left: 5.2em; }
  .section__figcaption_rotate_right-13 {
    -webkit-transform: rotate(13deg);
    -ms-transform: rotate(13deg);
    transform: rotate(13deg);
    bottom: 0.4em;
    left: 4em; }
  .section__figcaption-title {
    color: #000;
    font-size: 1.3em;
    line-height: 0.9em; }
  .section__figcaption_style_floating-top {
    top: -1.2em;
    left: 7.1em; }
  .section__figcaption_style_floating-bottom {
    bottom: 1.5em;
    left: -6.9em; }
  .section__figcaption_style_sm {
    max-width: 5em;
    bottom: -0.7em;
    left: 10.7em; }

.section__line {
  position: relative; }
  .section__line:before {
    content: '';
    color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    border-left: 2px solid;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .section__line_before:before {
    width: 2.1em;
    height: 2.6em;
    top: -2.2em;
    left: -2.3em; }
  .section__line_before-sm:before {
    width: 1.233em;
    height: 1.9em;
    top: -1.2em;
    left: -1.2em; }
  .section__line_before-reverse:before {
    width: 2em;
    height: 3em;
    top: 0.3em;
    left: -2.5em;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg); }
  .section__line_after:before {
    width: 2em;
    height: 2.4em;
    top: -1.6em;
    left: 0.4em;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  .section__line_rotate_right:before {
    top: -1.3em;
    left: 1em;
    -webkit-transform: rotate(-115deg);
    -ms-transform: rotate(-115deg);
    transform: rotate(-115deg); }
  .section__line_rotate_left:before {
    left: -0.6em;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); }

.header {
  background-color: #ffda00;
  padding: 1.6em 0 0;
  position: relative;
  overflow: hidden; }
  @media only screen and (min-width: 768px) {
    .header {
      padding: 9.9em 22.6em 0; } }
  .header:before {
    content: '';
    position: absolute;
    z-index: 1;
    background-image: url("../img/lamp.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: -3em;
    left: 10.2em;
    width: 15em;
    height: 18.5em; }
    @media only screen and (min-width: 768px) {
      .header:before {
        top: 0;
        left: 33.2em;
        width: 44.6em;
        height: 40.7em; } }
  .header__video-btn {
    position: relative;
    display: inline-block;
    left: 50%;
    margin-left: -3.25em;
    padding-bottom: 7.3em; }
    @media only screen and (min-width: 768px) {
      .header__video-btn {
        left: -0.9em;
        margin-left: 0;
        padding-bottom: 8.1em; } }
    .header__video-btn:after {
      content: '';
      position: absolute;
      z-index: 1;
      background-image: url("../img/hand.png");
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0em;
      left: -9.4em;
      width: 29.1em;
      height: 10.217em; }
      @media only screen and (min-width: 768px) {
        .header__video-btn:after {
          bottom: 0em;
          left: -10.4em;
          width: 31.6em;
          height: 11.3em; } }
  .header__logo {
    line-height: 0; }
  .header__text {
    font-weight: bold;
    letter-spacing: 0.01em;
    font-size: 1.5em;
    line-height: 2.7em; }
    @media only screen and (min-width: 768px) {
      .header__text {
        font-size: 3.75em;
        line-height: 2em; } }
  .header__sub {
    margin-top: 1.1em;
    margin-bottom: 4.3em;
    font-size: 1.2em; }
    @media only screen and (min-width: 768px) {
      .header__sub {
        margin-top: 1.5em;
        margin-bottom: 2.8em;
        font-size: 1.67em; } }
  .header__container {
    position: relative;
    z-index: 2; }

.btn {
  font-size: inherit;
  border: none;
  border-radius: 50%;
  outline: none;
  text-decoration: none;
  display: block;
  background-color: #000;
  text-align: center;
  max-width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  padding: 2.1em; }
  @media only screen and (min-width: 768px) {
    .btn {
      padding: 2.3em; } }
  .btn:hover {
    background-color: #fff;
    text-decoration: none; }
  .btn:focus, .btn:active {
    background-color: rgba(0, 0, 0, 0.8); }
  .header__video-btn .btn {
    position: relative;
    z-index: 2; }
  .btn_theme_video-play:hover {
    background-color: #131313; }
    .btn_theme_video-play:hover:before {
      border-color: transparent transparent transparent #ffda00; }
  .btn_theme_video-play:before {
    content: '';
    font-size: inherit;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    border-width: 0.6em 0 0.6em 1.2em; }
    @media only screen and (min-width: 768px) {
      .btn_theme_video-play:before {
        border-width: 0.7em 0 0.7em 1.2em; } }

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1em;
  margin-right: -1em; }
  .flex-wrapper__item {
    padding-left: 1em;
    padding-right: 1em;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .flex-wrapper_align_center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .flex-wrapper_align_start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .flex-wrapper_align_bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

.tasks {
  position: relative;
  font-size: 1em;
  line-height: 1.3em; }
  .tasks__item {
    position: relative;
    padding: 3.5em 1em 5.6em 1em;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .tasks__item {
        max-width: 18.5em;
        padding: 3.7em 1em; } }
  .tasks__num {
    color: #ffee84;
    font-family: "Freestyle Script";
    font-size: 14.5em;
    line-height: 0.221em;
    position: absolute;
    top: 50%;
    margin-top: -0.2em;
    left: -0.07em;
    z-index: 1; }
    @media only screen and (min-width: 768px) {
      .tasks__num {
        font-size: 13.5em;
        margin-top: -0.14em; } }
  .tasks__text {
    position: relative;
    z-index: 2; }
  .tasks__img {
    width: 21em;
    margin-top: 2.9em;
    margin-left: 1em; }
    @media only screen and (min-width: 768px) {
      .tasks__img {
        width: 66.9em;
        margin: 0;
        margin-left: auto; } }
  .tasks__content {
    margin: 0 auto;
    max-width: 16.6em; }
    @media only screen and (min-width: 768px) {
      .tasks__content {
        max-width: 60.6em;
        margin-left: auto;
        margin-right: 3em; } }
  .tasks__container {
    position: relative;
    z-index: 2; }
  .tasks__background {
    position: absolute;
    z-index: 1; }
    .tasks__background_left {
      top: 15em;
      right: -8.2em;
      width: 14.25em;
      height: 20em;
      -webkit-transform: rotate(5deg) scale(-1, 1);
      -ms-transform: rotate(5deg) scale(-1, 1);
      transform: rotate(5deg) scale(-1, 1); }
      @media only screen and (min-width: 768px) {
        .tasks__background_left {
          top: 13em;
          left: 1em;
          width: 22.25em;
          height: 30.813em;
          -webkit-transform: none;
          -ms-transform: none;
          transform: none; } }
    .tasks__background_right {
      bottom: -7.1em;
      right: -10.8em;
      width: 15.063em;
      height: 11.063em; }
      @media only screen and (min-width: 768px) {
        .tasks__background_right {
          bottom: -26.5em;
          right: -15.5em;
          width: 34.063em;
          height: 34.063em; } }

.design__container {
  position: relative;
  padding-top: 2.4em;
  padding-left: 2.1em;
  padding-bottom: 106.8em; }
  @media only screen and (min-width: 768px) {
    .design__container {
      padding-top: 2.5em;
      padding-bottom: 51.2em;
      padding-left: 3.1em;
      padding-right: 30em; } }

.design__item {
  position: absolute; }
  .design__item_first {
    top: 33.4em;
    left: -1.4em;
    z-index: 1;
    width: 27em;
    height: 25.9em; }
    @media only screen and (min-width: 768px) {
      .design__item_first {
        top: 14em;
        left: 1.2em;
        width: 32.375em;
        height: 29.4em; } }
  .design__item_second {
    top: 59.9em;
    left: -0.5em;
    z-index: 3;
    width: 25.2em;
    height: 31.6em; }
    @media only screen and (min-width: 768px) {
      .design__item_second {
        top: 23.7em;
        left: 20em;
        width: 33.3em;
        height: 31.6em; } }
  .design__item_third {
    z-index: 2;
    top: 77.3em;
    left: 2.1em;
    width: 19.9em;
    height: 21.875em; }
    @media only screen and (min-width: 768px) {
      .design__item_third {
        top: 26.5em;
        left: 46.4em;
        width: 27.063em;
        height: 21.875em; } }
  .design__item_fourth {
    z-index: 4;
    bottom: 3.2em;
    left: 1.2em;
    width: 21em;
    height: 21.563em;
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg); }
    @media only screen and (min-width: 768px) {
      .design__item_fourth {
        bottom: 1em;
        left: 8em;
        width: 23.875em;
        height: 21.563em;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg); } }
  .design__item_pentagon {
    top: 11.9em;
    left: 1.8em;
    width: 20.445em;
    height: 20.167em; }
    @media only screen and (min-width: 768px) {
      .design__item_pentagon {
        top: -4em;
        left: 40.5em;
        width: 27.445em;
        height: 26.167em; } }
  .design__item_text {
    font-family: 'GentlemensScript', sans-serif;
    color: black;
    font-size: 2.2em;
    line-height: 0.829em;
    bottom: 0;
    left: 1.7em;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg); }
    @media only screen and (min-width: 768px) {
      .design__item_text {
        -webkit-transform: rotate(-17deg);
        -ms-transform: rotate(-17deg);
        transform: rotate(-17deg);
        font-size: 2.3em;
        line-height: 1.029em;
        bottom: 4.1em;
        left: 14em;
        max-width: 9em; } }

.cenario {
  padding: 1.3em 0; }
  .cenario__container {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .cenario__img {
    -ms-flex-preferred-size: 14em;
    flex-basis: 14em; }
  .cenario__descr {
    -ms-flex-preferred-size: 34em;
    flex-basis: 34em; }
  .cenario__text {
    font-size: 0.9em;
    line-height: 1.893em;
    letter-spacing: 0.01em;
    max-width: 46.688em; }

.location {
  padding-top: 1.3em; }
  .location__container {
    position: relative;
    padding: 26em 0 16.5em; }
  .location__img {
    position: absolute;
    top: -3em;
    right: -23em; }
  .location__list-item {
    position: absolute; }
    .location__list-item_left {
      bottom: 7.5em;
      left: 7em; }
    .location__list-item_right {
      bottom: 6.1em;
      right: 29em; }

.list {
  margin: 0;
  padding: 0; }
  .list__item {
    font-family: "Berlingske Sans";
    font-size: 1em;
    line-height: 2.3em;
    list-style-type: none; }
    .list__item:before {
      content: "";
      display: inline-block;
      margin-right: 0.278em;
      width: 0.667em;
      height: 0.667em;
      border: 1px dashed #000;
      border-radius: 50%; }

.main {
  overflow: hidden; }

.foundator {
  font-family: "SF Pro Display", serif; }
  .foundator__container {
    position: relative; }
    .foundator__container_theme_black {
      background-color: #000;
      color: #fff;
      word-spacing: 0.2em; }
  .foundator__text {
    font-size: 2.4em;
    font-weight: 300;
    line-height: 1.4em;
    margin-bottom: 0.9em; }
  .foundator__img {
    position: absolute;
    bottom: 0;
    left: 13em;
    z-index: 1;
    width: 57.723em;
    height: 38.5em; }
  .foundator__content {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300;
    position: relative;
    z-index: 2;
    padding: 6.96em 4em 6.7em 31.2em; }
  .foundator__quote {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.274em;
    font-style: italic;
    margin-left: 2.5em;
    margin-top: 0.8em; }
  .foundator__resume {
    font-size: 1.67em;
    line-height: 1.55em;
    margin: 3.4em auto 2.3em;
    text-align: center;
    max-width: 38.7em; }

.camera {
  padding-top: 5em;
  position: relative;
  z-index: 2; }
  .camera:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    background-image: url("../img/camera-before.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 70.4em;
    height: 49.9em; }
  .camera:after {
    content: '';
    position: absolute;
    bottom: -2em;
    left: -3em;
    z-index: 0;
    background-image: url("../img/camera-after.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25em;
    height: 28em; }
  .camera__container {
    position: relative;
    z-index: 2; }
  .camera__content {
    position: relative;
    padding-top: 40em;
    z-index: 2; }
  .camera__logo {
    position: relative;
    margin: 0 0 4.5em 10.4em; }
  .camera__quote {
    position: absolute;
    bottom: 0.9em;
    left: 8.1em; }
  .camera__blockquote {
    display: inline-block;
    color: #000000;
    font-family: "SF Pro Display";
    font-style: italic;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.388em;
    margin: 0 0 0 0.2em; }
  .camera__item {
    position: absolute; }
    .camera__item_first {
      top: 5em;
      left: 3em;
      z-index: 1;
      width: 28.063em;
      height: 24.563em; }
    .camera__item_second {
      top: 24em;
      left: 2.2em;
      z-index: 2;
      width: 29.688em;
      height: 23em; }
    .camera__item_third {
      top: 40.5em;
      left: 13.3em;
      z-index: 3;
      width: 29.938em;
      height: 28.625em; }
    .camera__item_history-first {
      bottom: -3.8em;
      right: 1em;
      z-index: 4;
      width: 27.2em;
      height: 27.4em; }
    .camera__item_production-first {
      top: -1em;
      right: 2em;
      z-index: 5;
      width: 34.7em;
      height: 32em; }
    .camera__item_production-second {
      top: 14em;
      left: 22.5em;
      z-index: 6;
      width: 23.7em;
      height: 17.875em; }
    .camera__item_production-third {
      top: 21em;
      left: 2.7em;
      z-index: 5;
      width: 37.313em;
      height: 34.4em; }
    .camera__item_production-fourth {
      top: 34.5em;
      right: 9.2em;
      z-index: 6;
      width: 30.063em;
      height: 21.438em;
      padding-right: 4em; }
    .camera__item_design-first {
      top: 1.1em;
      left: 4.2em;
      z-index: 6;
      width: 24.625em;
      height: 18em; }
    .camera__item_design-second {
      top: 2.1em;
      left: 18.5em;
      z-index: 6;
      width: 30.063em;
      height: 25.688em; }
    .camera__item_design-third {
      top: 17em;
      right: 8.4em;
      z-index: 6;
      width: 37em;
      height: 34.9em; }
  .camera__partition {
    position: relative; }
    .camera__partition_theme_history {
      padding: 2em 10em 22em 47.3em; }
    .camera__partition_theme_production {
      padding: 2em 39em 48.3em 19em; }
    .camera__partition_theme_design {
      padding: 29.7em 49em 20em 6.5em; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden; }

.slick-list {
  position: relative;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:after, .slick-track:before {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: 0;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block;
    visibility: hidden; }
    .slick-initialized .slick-slide.slick-active {
      visibility: visible; }
    @media only screen and (min-width: 768px) {
      .slick-initialized .slick-slide {
        visibility: visible; } }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slider__arrow {
  color: rgba(0, 0, 0, 0.48);
  border: 0.063em solid;
  border-radius: 50%;
  padding: 1.0566em;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 0;
  display: none; }
  @media only screen and (min-width: 768px) {
    .slider__arrow {
      display: inline-block; } }
  .slider__arrow:hover {
    color: #ffda00; }
    .slider__arrow:hover:before {
      border-color: transparent transparent #ffda00 #ffda00; }
  .slider__arrow:before {
    content: '';
    width: 0.5em;
    height: 0.5em;
    border: 0.063em solid;
    display: inline-block;
    border-color: transparent transparent rgba(0, 0, 0, 0.48) rgba(0, 0, 0, 0.48);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: middle;
    margin-right: -0.55em;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 0.075em;
    margin-bottom: 0.075em; }
  .slider__arrow:after {
    content: '';
    width: 0.7em;
    height: 0;
    border-top: 0.063em solid;
    display: inline-block;
    vertical-align: middle; }
  .slider__arrow_reverse {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 2.2em; }

.slider__top {
  margin: 4em 0 0 2.9em; }
  @media only screen and (min-width: 768px) {
    .slider__top {
      margin: 2em 0 0 3.4em; } }

@media only screen and (min-width: 768px) {
  .slider__dots {
    margin-right: 5.2em; } }

.slider__dots ul {
  border-radius: 0.188em;
  border: 0.125em solid rgba(0, 0, 0, 0.22);
  color: rgba(0, 0, 0, 0.62);
  font-family: "SF Pro Display";
  font-size: 0.9em;
  line-height: 1.394em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0; }
  .slider__dots ul li {
    list-style: none;
    margin: 0; }

.slider__dot {
  padding: 1.25em 2.4em;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .slider__dot:hover {
    color: #ffda00; }
  li:not(:first-child) .slider__dot {
    position: relative; }
    li:not(:first-child) .slider__dot:before {
      content: '';
      position: absolute;
      top: 1.1em;
      left: 0;
      width: 0;
      height: 1.5em;
      border-left: 0.063em solid rgba(0, 0, 0, 0.25); }
  .slick-active .slider__dot {
    position: relative; }
    .slick-active .slider__dot:after {
      content: '';
      position: absolute;
      bottom: -0.01em;
      left: 30%;
      width: 41%;
      height: 0;
      border-top: 0.35em solid #ffda00; }

.history__container {
  position: relative;
  padding-top: 2.5em;
  padding-bottom: 99.8em; }
  @media only screen and (min-width: 768px) {
    .history__container {
      padding-top: 2.5em;
      padding-left: 3.1em;
      padding-bottom: 39.8em;
      padding-right: 30em; } }

.history__subtitle {
  color: #ff533c;
  font-family: "SF Pro Display";
  font-size: 1.3em;
  font-weight: 700;
  line-height: 2.428em; }
  @media only screen and (min-width: 768px) {
    .history__subtitle {
      font-size: 1.55em; } }

.history__text {
  font-size: 1em;
  letter-spacing: 0.03em;
  line-height: 1.3em;
  margin-right: 1em; }
  @media only screen and (min-width: 768px) {
    .history__text {
      line-height: inherit;
      font-size: 0.95em;
      margin-right: 15em; } }

.history__item {
  position: absolute; }
  .history__item_first {
    z-index: 4;
    top: 18.7em;
    left: -2em;
    width: 27.9em;
    height: 27.4em; }
    @media only screen and (min-width: 768px) {
      .history__item_first {
        top: -2.5em;
        left: 42.1em;
        width: 32.375em;
        height: 29.4em; } }
  .history__item_second {
    z-index: 1;
    top: 45.5em;
    left: -0.7em;
    width: 24.3em;
    height: 22em; }
    @media only screen and (min-width: 768px) {
      .history__item_second {
        z-index: 3;
        top: 12.5em;
        left: 30.3em;
        width: 33.3em;
        height: 29.731em; } }
  .history__item_third {
    z-index: 2;
    top: 60em;
    left: -2.5em;
    width: 28.2em;
    height: 21.875em; }
    @media only screen and (min-width: 768px) {
      .history__item_third {
        top: 23.5em;
        left: 19em;
        width: 28.2em;
        height: 21.875em; } }
  .history__item_fourth {
    z-index: 3;
    bottom: 23.1em;
    left: -2.2em;
    width: 28.375em;
    height: 21.563em; }
    @media only screen and (min-width: 768px) {
      .history__item_fourth {
        z-index: 1;
        bottom: 15.7em;
        left: 2.4em;
        width: 28.375em;
        height: 21.563em; } }
  .history__item_fifth {
    z-index: 5;
    bottom: 5em;
    left: -0.6em;
    width: 28.375em;
    height: 21.563em; }
    @media only screen and (min-width: 768px) {
      .history__item_fifth {
        bottom: 4.5em;
        left: 43.4em;
        width: 28.375em;
        height: 21.563em; } }
