@import 'mixins/mixin';
@import 'core/fonts';
@import 'variables/variables';
@import 'core/reset';
@import 'core/hidden';
@import 'core/container';
@import 'core/template';
@import 'core/section';
@import 'core/header';
@import 'core/btn';
@import 'core/flex-wrapper';
@import 'core/tasks';
@import 'core/design';
@import 'core/cenario';
@import 'core/location';
@import 'core/list';
@import 'core/main';
@import 'core/foundator';
@import 'core/camera';
@import 'vendor/slick';
@import 'core/slider';
@import 'core/history';
@import 'core/parallax';
@import 'core/animations';
@import 'core/animated';
@import 'core/voice-acting';
@import 'core/lead';
@import 'core/audio-records';
@import 'core/audioplayer';
@import 'core/video-editing';
@import 'vendor/modal';
@import 'core/modal-wrapper';
@import 'core/video';
@import 'core/review';
