.history__container {
  position: relative;
  padding-top: 2.5em;
  padding-bottom: 51.2em; }

.history__item {
  position: absolute; }
  .history__item_first {
    top: 4.5;
    left: -1em;
    z-index: 1;
    width: 32.375em;
    height: 29.4em; }
  .history__item_second {
    top: 23em;
    left: 18em;
    z-index: 3;
    width: 33.3em;
    height: 31.6em; }
  .history__item_third {
    top: 25.5em;
    right: -1.9em;
    z-index: 2;
    width: 27.063em;
    height: 21.875em; }
  .history__item_fourth {
    bottom: 0;
    left: 6em;
    z-index: 4;
    width: 23.875em;
    height: 21.563em; }

.history__pentagon {
  position: absolute;
  top: -4em;
  right: 6em;
  width: 27.445em;
  height: 26.167em; }
