/* Global variables */
/* ======================================================================== */
$main_font_family: 'Berlingske Sans', sans-serif;
$main_color: #000;
$main_line_height: 1.575em;
$main_font_size: 1.125em;
$main_letter_spacing: -0.02em;

$container_width: 75em;
// $container_width: 1200px;

$footer_height: auto;

// Color collection for elements
$color_primary: #ffda00;
// $color_success: #36a566;
// $color_info: #03a9f4;
// $color_warning: #fca33e;
// $color_danger: #ff1a1a;
// $color_withe: #ffffff;

// Button variables
$btn_default_bg_color: #000;
// $btn_default_text_color: $main_color;
// $btn_contrast_text_color: $color_withe;
// $btn_default_bg_color_hover: #ccc;

//Разрешения экранов
// $phone_width: 320px;
// $tablet_width: 768px;
// $small_desktop_width: 992px;
// $desktop_width: 1200px;
$desktop_width: 768px;
// $wide_desktop_width : 1400px;

/* Breakpoints */
// $breakpoint-small: 480px !default;
// $breakpoint-medium: 760px !default;
// $breakpoint-large: 960px !default;
// $breakpoint-xlarge: 1200px !default;

// $breakpoint-mini-max: ($breakpoint-small - 1) !default;
// $breakpoint-small-max: ($breakpoint-medium - 1) !default;
// $breakpoint-medium-max: ($breakpoint-large - 1) !default;
// $breakpoint-large-max: ($breakpoint-xlarge - 1) !default;