/* Global variables */
/* ======================================================================== */
$main_font_family: 'Berlingske Sans', sans-serif;
$main_color: #000;
$main_line_height: 1.575em;
$main_font_size: 1.125em;
$main_letter_spacing: -0.02em;

$container_width: 75em;

$footer_height: auto;

// Color collection for elements
$color_primary: #ffda00;
$btn_default_bg_color: #000;

//Разрешения экранов
// $phone_width: 320px;
// $tablet_width: 768px;
// $small_desktop_width: 992px;
// $desktop_width: 1200px;
$desktop_width: 768px;
// $wide_desktop_width : 1400px;