.camera {
    padding-top: 3em;
    // padding-bottom: 100em;
    position: relative;
    z-index: 2;
    &:after {
        content: '';
        position: absolute;
        top: -2em;
        right: 0;
        z-index: 0;
        background-image: url('../img/camera.png');
        background-repeat: no-repeat;
        width: 70em;
        height: 49.9em;
    }
    &__container {
		position: relative;
		z-index: 2;
	}
    &__content {
        position: relative;
        padding-top: 40em;
        z-index: 2;
    }
    &__item {
        position: absolute;
        
        &_first{
            top: 4em;
            left: 0.9em;
            z-index: 1;
        }
        &_second{
            top: 23.5em;
            left: 0;
            z-index: 2;
        }
        &_third{
            top: 39em;
            left: 11em;
            z-index: 3;
        }
        &_history-first{
            top: 15em;
            right: 5em;
            z-index: 4;
        }
        &_production-first{
            top: -1em;
            right: 15em;
            z-index: 5;
        }
        &_production-second{
            top: 15em;
            left: 30em;
            z-index: 6;
        }
        &_production-third{
            top: 20em;
            left: -5em;
            z-index: 5;
        }
        &_production-fourth{
            top: 25em;
            right: 5em;
            z-index: 6;
        }
        &_design-first {
            top: 5em;
            left: 5em;
            z-index: 6;
        }
        &_design-second {
            top: 15em;
            right: 25em;
            z-index: 6;
        }
        &_design-third {
            bottom: 5em;
            right: 15em;
            z-index: 6;
        }
    }

    &__text {
        // font-family: "Berlingske Sans";
        font-size: 0.6em;
        line-height: 0.8em;

    }
    
    &__partition {
        position: relative;
        
        &_theme_history {
            padding: 1em 2em 30em 55em;
        }
    
        &_theme_production {
            padding: 1em 30em 55em 2em;
        }
    
        &_theme_design {
            padding: 20em 40em 20em 1em;
        }
    }

    &__figcaption {
        position: absolute;
    
        &_first {
            transform: rotate(-15deg);
            bottom: 1.2em;
            left: 8em;
        }
    } 
}
