.design {

    &__container {
        position: relative;
        padding-top: 5em;
        padding-bottom: 46.2em;
    }

    &__item {
        position: absolute;

        &_first{
            top: 0;
            left: -1em;
            z-index: 1;
        }
        &_second{
            top: 9.5em;
            left: 18em;
            z-index: 3;
        }
        &_third{
            top: 12.5em;
            right: -1.9em;
            z-index: 2;
        }
        &_fourth{
            bottom: 0;
            left: 6em;
            z-index: 4;
        }
    }
    // &__figcaption {
    //     position: absolute;
    //     &_first {
    //         transform: rotate(-5deg);
    //         bottom: 0.9em;
    //         left: 9em;
    //     }
    //     &_second {
    //         transform: rotate(-17deg);
    //         bottom: 0.2em;
    //         left: 5.1em;
    //         max-width: 8em;
    //     }
    // }
    &__pentagon {
        position: absolute;
        top: -17em;
        right: 6em;
    }
}