.design {
    &__container {
        position: relative;
        padding-top: 2.5em;
        padding-left: 2.1em;
        padding-bottom: 107em;

        @include desktop {
            padding-top: 2.5em;
            padding-bottom: 51.2em;
            padding-left: 3.1em;
            padding-right: 30em;

        }
    }

    &__item {
        position: absolute;

        &_first {
            bottom: 57.4em;
            left: -1.4em;
            z-index: 1;
            width: 27em;
            height: 25.8em;

            @include desktop {
                bottom: 21em;
                left: 1.2em;
                width: 32.375em;
                height: 29.4em;
            }
        }

        &_second {
            bottom: 32.9em;
            left: -0.5em;
            z-index: 3;
            width: 25.2em;

            @include desktop {
                bottom: 9.2em;
                left: 20em;
                width: 33.3em;

            }
        }

        &_third {
            z-index: 2;
            bottom: 21.3em;
            left: 2.1em;
            width: 19.9em;

            @include desktop {
                bottom: 13em;
                left: 46.4em;
                width: 27.063em;
            }
            
        }

        &_fourth {
            z-index: 4;
            bottom: 5.5em;
            left: 1.1em;
            width: 21em;
            transform: rotate(-15deg);

            @include desktop {
                bottom: 1em;
                left: 8em;
                width: 23.875em;
                transform: rotate(0deg);
            }
        }

        &_pentagon {
            top: 11.9em;
            left: 1.8em;
            width: 20.445em;

            @include desktop {
                top: -4em;
                left: 40.5em;
                width: 27.445em;
            }
        }

        &_text {
            font-family: 'GentlemensScript', sans-serif;
            color: rgba(0, 0, 0, 1);
            font-size: 2.2em;
            line-height: 0.829em;
            bottom: 0;
            left: 1.7em;
            transform: rotate(-5deg);

            @include desktop {
                transform: rotate(-17deg);
                font-size: 2.3em;
                line-height: 1.029em;
                bottom: 4.1em;
                left: 14em;
                max-width: 9em;
            }
        }
    }
}