.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    margin-left: -1em;
    margin-right: -1em;

    &__item {     
        padding-left: 1em;
        padding-right: 1em;
        flex-grow: 1;
    }

    // &_align_center {
    //     justify-content: center;
    // }

    &_align_start {
        justify-content: flex-start;
    }

    &_align_top{
        align-items: flex-start;
    }

    &_align_bottom {
        align-items: flex-end;
    }
}