.header {
	background-color: $color_primary;
	padding: 9.9em 22.6em 0;
	position: relative;
	
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 33.2em;
		z-index: 1;
		background-image: url('../img/lamp.png');
		background-repeat: no-repeat;
		background-size: cover;
		width: 44.6em;
		height: 40.7em;
	}
	
	&__video-btn {
		position: relative;
		left: -0.9em;
		display: inline-block;
		padding-bottom: 8.2em;
		
		&:after {
			content: '';
			position: absolute;
			bottom: 0em;
			left: -10.4em;
			z-index: 1;
			background-image: url('../img/hand.png');
			background-repeat: no-repeat;
			background-size: cover;
			width: 31.6em;
			height: 11.3em;
		}
	}

	&__logo {
		line-height: 0;
	}
	
	&__text{
		font-weight: bold;
		font-size: 3.75em;
		line-height: 2em;
		letter-spacing: 0.01em;
		color: #000000;
	}

	&__sub {
		margin-top: 1.5em;
		margin-bottom: 2.8em;
		font-size: 1.67em;
	}

	&__container {
		position: relative;
		z-index: 2;
	}
}