.list {
    margin: 0;
    padding: 0;
    
    &__item {
        font-family: "Berlingske Sans";
        font-size: 1em;
        line-height: 2.3em;

        
        list-style-type: none;
        
        &:before {
            content: ""; 
            display: inline-block;
            margin-right: 0.278em;
            width: 0.667em;
            height: 0.667em;
            border: 1px dashed #000;
            border-radius: 50%;
        }
    }
}