.section {
    // @media (min-width: 768px) {
    //     padding: 40px 0 28px;
    // }
    // @media (max-width: 767px) {
    //     padding: 24px 0 12px;
    // }
    &_theme_black {
        background-color: #000;
        color: #ffffff;
    }
    &_background_clouds {
        overflow: hidden;
        position: relative;
        
        &:before {
            content: '';
            position: absolute;
            bottom: -12.5em;
            left: -26em;
            z-index: 1;
            background-image: url('../img/clouds-left.png');
            background-repeat: no-repeat;
            width: 58em;
            height: 88.2em;
            // opacity: 0.5;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -9em;
            right: -38em;
            z-index: 1;
            background-image: url('../img/clouds-right.png');
            background-repeat: no-repeat;
            width: 81.313em;
            height: 57.938em;
        }
    }
    &_background_drafts {
        overflow: hidden;
        position: relative;
        
        &:before {
            content: '';
            position: absolute;
            top: 60.667em;
            left: -7em;
            z-index: 1;
            background-image: url('../img/room-draft-left.png');
            background-repeat: no-repeat;
            width: 24.367em;
            height: 24.467em;
            opacity: 0.61;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 10em;
            right: -10em;
            z-index: 1;
            background-image: url('../img/room-draft-right.png');
            background-repeat: no-repeat;
            width: 20.733em;
            height: 25.4em;
            opacity: 0.55;
        }
    }
    &__title {
        font-family: "SF Pro Display", sans-serif;
        font-size: 4.1em;
        font-weight: 700;
        line-height: 1.3em;
        
        &_style_center {
            text-align: center;
        }
        
        &_style_margin {
            margin-left: 1.4em;
        }
        
        &_style_left {
            text-align: left;
            max-width: 10em;
            margin-left: 0.8em;
        }
    }
    
    
    &__heading {
        font-family: 'SF Pro Display', sans-serif;
        font-size: 3.5em;
        font-weight: 700;
        line-height: 1.4em;
        max-width: 15em;
        margin-top: 0.5em;
        margin-left: 3.2em;
        letter-spacing: -0.03em;
        word-spacing: 0.09em;

        &_align_center {
            text-align: center;
        }
    }

    &__subtitle {
        font-family: "SF Pro Display";
        font-size: 2.938em;
        font-weight: 700;
        line-height: 1em;
        letter-spacing: -0.06em;
    }

    &__text {

    }

    &__photo {
        // box-shadow: 0 1.25em 3.563em rgba(0, 0, 0, 0.15);
        // border: 0.813em solid #ffffff;
        // object-fit: cover;
        // object-position: 80% 10%;
        // height: 100%;
    }
    &__img {
        // &_rotate_left {
        //     transform: rotate(-5deg);
        // }
        // &_rotate_left-more {
        //     transform: rotate(-16deg);
        // }
        // &_rotate_right {
        //     transform: rotate(5deg);
        // }
        // &_size_xl {
        //     width: 35em;
        // }
        // &_size_lg {
        //     width: 27em;
        // }
        // &_size_sm {
        //     width: 23em;
        // }
    }

    &__figcaption {
        font-family: 'GentlemensScript';
        color: rgba(0, 0, 0, 0.46);
        font-size: 1.7em;
        // line-height: 1.113em;
        // opacity: 0.66;
        // font-size: 1em;
        line-height: 0.83em;
        position: absolute;
        &_style_bold{
            color: rgba(0, 0, 0, 1);
            font-size: 2.3em;
            line-height: 1.029em;
        }
        &_rotate_left-5{
            transform: rotate(-5deg);
            bottom: 0.4em;
            left: 5.1em;
        }
        &_rotate_left-15{
            transform: rotate(-15deg);
            bottom: 0.7em;
            left: 4.6em;
        }
        &_rotate_left-17{
            transform: rotate(-17deg);
            bottom: 0.3em;
            left: 5.2em;
        }
        &_rotate_right-13{
            transform: rotate(13deg);
            bottom: 0.4em;
            left: 4em;
        }
        &-title{
            color: #000;
            font-size: 1.3em;
            line-height: 0.9em;
        }
        // &_style_light{
        //     font-size: 1em;
        //     line-height: 0.83em;
        //     opacity: 0.46;
        // }
        
        &_style_line-before {
            // position: relative;
            &:before {
                content: '';
                width: 2.1em;
                height: 2.6em;
                opacity: 0.4;
                border-radius: 100%;
                border-left: 2px solid;
                // border-bottom: 2px solid;
                position: absolute;
                top: -2.2em;
                left: -2.3em;
                transform: rotate(-45deg);
            }
        }
        &_style_line-before-sm {
            // position: relative;
            &:before {
                content: '';
                width: 1.233em;
                height: 1.9em;
                opacity: 0.4;
                border-radius: 100%;
                border-left: 2px solid;
                // border-bottom: 2px solid;
                position: absolute;
                top: -1.2em;
                left: -1.2em;
                transform: rotate(-45deg);
            }
        }
        &_style_line-before-reverse {
            position: relative;
            &:before {
                content: '';
                width: 2em;
                height: 3em;
                opacity: 0.4;
                border-radius: 50%;
                border-left: 2px solid;
                position: absolute;
                top: 0.3em;
                left: -2.5em;
                transform: rotate(40deg);
            }
        }
        &_style_line-after {
            // position: relative;
            &:after {
                content: '';
                width: 2.1em;
                height: 2.6em;
                opacity: 0.4;
                border-radius: 100%;
                border-right: 2px solid;
                position: absolute;
                top: -2em;
                right: 1.6em;
                transform: rotate(45deg);
            }
        }
        &_style_floating{
            top: -15.8em;
            left: 6.3em;
        }
    }
}