.slider {
    &__arrow {
        color: rgba(0,0,0, 0.48);
        border: 0.063em solid;
        border-radius: 50%;
        padding: 1.6em;
        cursor: pointer;
        transition: all 0.3s;
        line-height: 0;
        display: none;
        
        @include desktop {
            padding: 1.0566em;
            display: inline-block;
        }
        
        &:hover {
            color: $color_primary; 

            &:before {
                border-color: transparent transparent $color_primary $color_primary;
            }   
        }
        
        &:before {
            content: '';
            width: 0.5em;
			height: 0.5em;
            border: 0.063em solid;
            display: inline-block;
            border-color: transparent transparent rgba(0,0,0, 0.48) rgba(0,0,0, 0.48);
            transform: rotate(45deg);
            vertical-align: middle;
            margin-right: -0.55em;
            transition: all 0.3s;
            margin-top: 0.075em;
            margin-bottom: 0.075em;
        }

        &:after {
            content: '';
            width: 0.7em;
			height: 0;
            border-top: 0.063em solid;
            display: inline-block;
            vertical-align: middle;
        }

        &_reverse {
            transform: rotate(180deg);
            margin-left: 2.2em;
        }

        &_side_left {
            position: absolute;
            top: 103%;
            left: 6.7em;
            z-index: 1;
            
            @include desktop {
                top: 50%;
                left: 0;
                margin-top: -1.44em;
            }
        }
        
        &_side_right {
            position: absolute;
            top: 103%;
            right: 6.7em;
            z-index: 1;
            
            @include desktop {
                top: 50%;
                margin-top: -1.44em;
                right: 0;
            }
        }
    }

    &__slide {
        position: relative;
    }

    &__top {
        margin: 4em 0 0 2.9em;

        @include desktop {
            margin: 2em 0 0 3.4em;
        }
    }

    &__dots {
        @include desktop {
            margin-right: 5.2em;
        }

        & ul {
            border-radius: 0.188em;
            border: 0.125em solid rgba(0,0,0,0.22);
            color: rgba(0,0,0,0.62);
            font-family: "SF Pro Display", sans-serif;
            font-size: 0.9em;
            line-height: 1.394em;
            display: flex;
            margin: 0;
            padding: 0;

            & li {
                list-style: none;
                margin: 0;
            }
        }
    }

    &__dot {
        padding: 1.25em 2.4em;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            color: $color_primary;    
        }
        
        li:not(:first-child) & {
            position: relative;
            
            &:before{
                content: '';
                position: absolute;
                top: 1.1em;
                left: 0;
                width: 0;
                height: 1.5em;
                border-left: 0.063em solid rgba(0,0,0,0.25);
            }
        }

        .slick-active & {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                bottom: -0.01em;
                left: 30%;
                width: 41%;
                height: 0;
                border-top: 0.35em solid $color_primary;
            }
        }
    }
}