.tasks {
    position: relative;
    font-size: 1em;
    line-height: 1.3em;
    &__item {
        position: relative;
        padding: 3.7em 1em;
        max-width: 18.5em;
    }
    &__num {
        color: #ffee84;
        font-family: "Freestyle Script";
        font-size: 13.5em;
        line-height: 0.221em;
        position: absolute;
        top: 50%;
        margin-top: -0.14em;
        left: -0.07em;
        z-index: 1;
    }
    &__text {
        position: relative;
        z-index: 2;
    }
    &__img {
        width: 66.9em;
        margin: 0;
        margin-left: auto;
    }
    &__content {
        max-width: 60.6em;
        margin-left: auto;
        margin-right: 3em;

    }
    &__container {
        position: relative;
        z-index: 2;
    }

    &__background {
        position: absolute;
        z-index: 1;

        &_left {
            top: 13em;
            left: 1em;
            width: 22.25em;
            height: 30.813em;  
        }
        &_right {
            bottom: -26.5em;
            right: -15.5em;
            width: 34.063em;
            height: 34.063em;
        }
    }
}