.video-editing {
    padding-bottom: 4em;
    
    @include desktop {
      padding-bottom: 8.5em;
    }

    &__subtitle {
         color: #cecece;
         font-family: "Berlingske Sans", sans-serif;
         font-weight: 300;
         font-size: 1.1em;
         line-height: 2em;
         
         @include desktop {
            font-size: 0.945em;
            line-height: 2em;
         }
     }

     &__item {
         margin-top: 1.5em;
         width: 100%;
         
         @include desktop {
            margin-top: 1.5em;
            width: 50%;
         }
     }      

     &__video {
         margin: 1em 0.3em 0;
         
         @include desktop {
            margin: 1.5em 0.2em 0;
         }
     }      

     &__caption {
        margin: 2.2em 0 6em 5.5em;
        
        @include desktop {
           margin: 4.2em 0 0 3em;
        }
     }

     &__text {
         font-size: 1.3em;
         line-height: 1.3em;

         @include desktop {
            font-size: inherit;
            line-height: inherit;
         }
     }
}
