.video-editing {
    
    &__subtitle {
        color: #cecece;
        font-family: "Berlingske Sans";
        font-size: 17px;
        font-weight: 300;
        line-height: 30.29px;
     }

     &__item {
        margin-top: 1.5em;
     }      

     &__video {
        // margin-top: 1.5em;
     }      
}
