-var version = '0.1';
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title making of IKEA
        link(rel="stylesheet", type="text/css", href="css/style.css?"+version+"")
    body
        include header.pug

        main.main
            block content

        //- Modal
        .modal.fade.modal-wrapper#play
            a.modal-wrapper__close(href="#" class="modal-close" data-dismiss="modal")
            .modal-dialog.modal-wrapper__dialog
                .video
                    .video__wrapper.video__wrapper_height-sm
                        #video.js-video-modal(data-video-id="427327018")
        include scripts.pug